* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by any browser but < IE9 */
  /*  */
}

/*body::-webkit-scrollbar {
  display: none;
}*/

/*-----------------------------------------------*/
h1 {
  font-family: 'Barlow', sans-serif;
  font-size: 52pt;
  color: rgb(20, 20, 20);
}

#int {
  font-family: 'Roboto Mono', monospace;
  font-size: 20pt;
  color: rgb(55, 55, 55);
}

h2 {
  font-family: 'Barlow', sans-serif;
  font-weight: lighter;

}

h3 {
  font-family: 'Barlow', sans-serif;
  font-size: 18pt;
  color: rgb(55, 55, 55);
}

h4 {
  font-family: 'Barlow', sans-serif;
  font-weight: bolder;
  font-size: 16pt;
  color: rgb(55, 55, 55);
  margin-top: 30px;
  margin-bottom: 30px;
}

p {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 14pt;
  color: rgb(55, 55, 55);
  text-align: justify;

}

/*-----------------------------------------------*/
.row {
  margin-bottom: 20px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}


/*-----------------------------------------------*/
[class*="col-"] {
  float: left;
  /*padding: 15px;*/
  /*border: 1px solid red;*/
}
/*-----------------------------------------------*/
#root {
  
  margin: 5%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 1.4s;
  animation-name: animatetop;
  animation-duration: 1.4s
}

/*-----------------------------------*/
.awards {
  margin-bottom: 20px;
}

/* For mobile phones: */
[class*="col-"] {
  /*width: 100%;*/
}


@media only screen and (orientation: portrait) {
  #root {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  
@-webkit-keyframes animatetop {
  from {
     
    margin-top: -5%;
    top: -300px;
    opacity: 0
  }

  to {
    margin-top: 5%;
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    margin-top: -5%;
    top: -300px;
    opacity: 0
  }

  to {
    margin-top: 5%;
    top: 0;
    opacity: 1
  }
}
}

@media only screen and (orientation: landscape) {
  body {
    /*background-color: lightblue;*/
  }
}

@media only screen and (min-width: 300px) {


  .col-s-1 {
    width: 8.33%;
  }

  .col-s-2 {
    width: 16.66%;
  }

  .col-s-3 {
    width: 25%;
  }

  .col-s-4 {
    width: 33.33%;
  }

  .col-s-5 {
    width: 41.66%;
  }

  .col-s-6 {
    width: 50%;
  }

  .col-s-7 {
    width: 58.33%;
  }

  .col-s-8 {
    width: 66.66%;
  }

  .col-s-9 {
    width: 75%;
  }

  .col-s-10 {
    width: 83.33%;
  }

  .col-s-11 {
    width: 91.66%;
  }

  .col-s-12 {
    width: 100%;
  }


}

@media only screen and (min-width: 600px) {
  /* For tablets: */

  #root {

    margin: 5%;

  }

  .col-m-1 {
    width: 8.33%;
  }

  .col-m-2 {
    width: 16.66%;
  }

  .col-m-3 {
    width: 25%;
  }

  .col-m-4 {
    width: 33.33%;
  }

  .col-m-5 {
    width: 41.66%;
  }

  .col-m-6 {
    width: 50%;
  }

  .col-m-7 {
    width: 58.33%;
  }

  .col-m-8 {
    width: 66.66%;
  }

  .col-m-9 {
    width: 75%;
  }

  .col-m-10 {
    width: 83.33%;
  }

  .col-m-11 {
    width: 91.66%;
  }

  .col-m-12 {
    width: 100%;
  }

}

@media only screen and (min-width: 768px) {
  
@-webkit-keyframes animatetop {
  from {
     
    margin-top: -5%;
    top: -300px;
    opacity: 0
  }

  to {
    margin-top: 10%;
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    margin-top: -5%;
    top: -300px;
    opacity: 0
  }

  to {
    margin-top: 10%;
    top: 0;
    opacity: 1
  }
}

  /* For desktop: */
  #root {
    margin-top: 10%;
    margin-left: 25%;
  }

  h2 {
    font-family: 'Barlow', sans-serif;
    font-weight: lighter;
    font-size: 12pt;
  }

  h3 {
    font-family: 'Barlow', sans-serif;
    font-size: 24pt;
  }

  h4 {
    font-family: 'Barlow', sans-serif;
    font-weight: bolder;
    font-size: 18pt;
  }

  p {
    font-size: 12pt;
  }

  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}