#mobileHeader{
    position: fixed;
    margin: 0px;
    padding: 0px;
    top:0px;   
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 60px;
    box-shadow: 0px 0px 10px #c7c7c7;
    background: white;
}

#mobileHeader h1 {
    height: auto;
    position: relative;
    
    font-family: 'Barlow', sans-serif;
    font-size: 12pt;
    font-weight: bold;
    color: rgb(20, 20, 20);
    
    
}
#mobileHeader span {
    font-family: 'Roboto Mono', monospace;
    font-size: 11pt;
    font-weight: lighter;
    color: rgb(55, 55, 55);
}

#menuComponent {
    position: fixed;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    -webkit-align-items: stretch;
    /* Safari 7.0+ */
    box-shadow: 0px 0px 10px #c7c7c7;
    background: white;
}

@media only screen and (min-width: 300px) {

}

@media only screen and (min-width: 1200px) {
    
    /* For tablets: */
    #menuButtonsContainer {
        /*background: blue;*/
        margin-right: 8.33%;
    }

}

@media only screen and (min-width: 1500px) {
    
    
    #menuButtonsContainer {
        /*background: red;*/
        margin-right: 16.66%;
    }
}

@media only screen and (orientation: portrait) {
    #menuComponent {
        width: 100%;
        bottom: 0px;
        height: 50px;
    }
    .menuSectionTitle {
        display: none;
    }
    #myPortfolioHeader {
        display: none;
    }
  
}

@media only screen and (orientation: landscape) {
    #mobileHeader{display: none;}
    
    #menuComponent {
        top: 0px;
        height: 80px;
    }
    #myPortfolioHeader {
        flex-grow: 1;
        height: 100%;
        margin: 0px;
        padding: 0px;
        display: flex;
        justify-content: space-around;
        /*align-items: stretch;*/
        -webkit-align-items: center;
        /* Safari 7.0+ */
        align-items: center;
    }
    #myPortfolioHeader h1 {
        font-family: 'Barlow', sans-serif;
        font-size: 12pt;
        font-weight: bold;
        color: rgb(20, 20, 20);
    }
    #myPortfolioHeader span {
        font-family: 'Roboto Mono', monospace;
        font-size: 10pt;
        font-weight: lighter;
        color: rgb(55, 55, 55);
    }
}

#menuButtonsContainer {
    flex-grow: 1;
    height: 100%;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    /*align-items: stretch;*/
    -webkit-align-items: center;
    /* Safari 7.0+ */
    align-items: center;
    text-align: center;
}

.menuSectionButton {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    /*align-items: stretch;*/
    -webkit-align-items: center;
    /* Safari 7.0+ */
    align-items: center;
    background: none;
}

.menuSectionTitle {
    text-align: center;
    margin-right: 5px;
    color:rgb(100,100,100);
}

.menuButtonElement {
    
    width: 20px;
    height: 20px;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    position: inherit;
    background: none;
}

.menuButtonElement svg {
    background: none;
    fill: rgb(100,100,100);
    position: inherit;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}



/*__________________________________________*/

.menuSectionButton:hover {
    background: #ff0030;
    cursor: pointer;
    fill: white;
    color: white;
}